body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}
footer {
    width: 100vw;
    position: relative;
    left: 0;
    margin: 0; /* removes any default margin */
    padding: 0;
    border-radius: 0; /* ensures square corners */
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;  /* ensure child spans viewport */
    max-width: none;
    margin: 0;
    box-sizing: border-box;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 20px;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.show-img {
    height: 30vh;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.show-edit-btn {
    margin-bottom: 1rem;
}

#map {
    height: 600px;
    width: 900px;
}

#filter-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

#filters-container {
  overflow: hidden;
  flex: 1;
  position: relative;
}

#filters {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.filter {
  flex: 0 0 auto;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.filter a {
  color: inherit;
  text-decoration: none;
}

.tax-toggle {
  border: 0.1rem solid #a6a6a6;
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  margin-top: 0.9rem;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .tax-toggle {
    flex-basis: 100%;
    text-align: left;
    margin-top: 0 !important;
    margin-left: 0 !important;
    font-size: 0.8rem !important;
    width: auto !important;
    height: 2rem !important;
    border: none;
    justify-content: center;
  }}

  .toggle-container {
    padding: 0.5rem 1rem;
    border: 0.1rem solid #a6a6a6;
    border-radius: 0.7rem;
  }

  .scroll-btn {
  background-color: #fff;
  border: 0.1rem solid #cccccc;
  border-radius: 50%;
  color: #a6a6a6;
  cursor: pointer;
  z-index: 10;
}

.scroll-btn.left-btn {
  margin-right: 1rem;
}

.scroll-btn.right-btn {
  margin-left: 1rem;
}

.tax-info {
  display: none;
}
